
:root {
  --font-family-title: 'Inter';

  --font-size-min-m:13px;
  --font-size-m: 16px;
  --font-line-m: 28px;

  // Размеры
  --navbar-height: 58px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}
