.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 20px;
}
.nav_button,
.nav_button_questionnaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav_button img,
.nav_button_questionnaire img {
  width: 25px;
  height: 25px;
}
.nav_button p,
.nav_button_questionnaire p {
  margin-top: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.nav_button_questionnaire p {
  color: rgba(41, 144, 255, 1);
}
