li {
  all: unset;
}
.MainPage {
  margin: 56px 0 0 0;
}
.header__top {
  display: flex;
  align-self: center;
  justify-content: space-between;
  height: 32px;
  margin: 0 20px;
}
.header_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: var(--color-dark-background_button);
  padding: 4px 12px 4px 6px;
  font-family: var(--font-family-title);
  font-size: var(--font-size-min-m);
}
.header_button p {
  font-family: var(--font-family-title);
  font-size: var(--font-size-min-m);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.icon_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.header__bottom {
  display: flex;
  align-self: center;
  justify-content: space-between;
  height: 32px;
  margin: 14px 20px;
}
.header__bottom_active {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 32px;
  margin: 14px 20px;
}
.header__bottom_active p {
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.1px;
}

.header__bottom_left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__bottom_icon_button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-background_button);
  border-radius: 8px;
}
.header__bottom_icon_button:not(:last-child) {
  margin-right: 8px;
}
.header__bottom_right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-background_button);
  border-radius: 8px;
  padding: 4px 17px 4px 8px;
}

.header__bottom_right img {
  margin-right: 4px;
}
.header__bottom_right p {
  font-family: var(--font-family-title);
  font-size: var(--font-size-min-m);
  font-weight: 600;
  line-height: 16.94px;
  letter-spacing: 0;
}

.profile_card {
  position: relative;
}
.profile_card_img {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_card_img_active {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile_card_img_active,
.profile_card_img {
  position: relative;
}
.profile_card_img_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.6)
  );
  pointer-events: none; /* Чтобы затемнение не мешало кликам */
}

.background_image_active {
  width: 90vw;
  height: 441px;
  border-radius: 20px;
  object-fit: cover;
}

.profile_card_slider {
  position: absolute;
  display: flex;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
}

.slider_active {
  width: 26px;
  height: 4px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 12px;
}
.slider {
  width: 26px;
  height: 4px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  opacity: 10%;
}
.slider:not(:last-child) {
  margin-right: 12px;
}

.header_profile_card {
  position: absolute;
  top: 44px;
  left: 20px;
}
.header_profile_card_active {
  position: absolute;
  top: 44px;
  left: 40px;
}

.sity_profile_card {
  display: flex;
  align-items: center;
}

.header_profile_card_active .sity_profile_card img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.sity_profile_card p {
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.preference_profile_card {
  margin-top: 10px;
}
.preference_profile_card ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preference_profile_card li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.1px;
  padding: 4px 8px;
  gap: 4px;
}
.preference_profile_card li:not(:last-child) {
  margin-right: 4px;
}
.bottom_card_profile {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.bottom_card_profile_actibe {
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.bottom_card_profile_name {
  font-size: var(--font-line-m);
}
.bottom_card_profile_info {
  margin-top: 7px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.bottom_card_profile_button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.bottom_card_profile_button button:nth-child(1) {
  all: unset;
  width: 171px;
  height: 46px;
  background-color: rgba(255, 255, 255, 0.2); /* Стиль для первой кнопки */
  font-size: 16px;
  border-radius: 59px;
  margin-right: 20px;
  display: flex; /* Включаем flexbox */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}
.bottom_card_profile_button button:nth-child(1) p {
  font-size: 24px;
  margin-right: 10px;
}

.bottom_card_profile_button button:nth-child(2) {
  all: unset;
  background-color: rgba(255, 255, 255, 1); /* Стиль для первой кнопки */
  width: 171px;
  height: 46px;
  font-size: 16px;
  border-radius: 59px;
  gap: 10px;
  display: flex; /* Включаем flexbox */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center;
  font-size: 24px;
}

.profile_details_block {
  margin: 20px 20px 0 20px;
}
.profile_details_meetings {
  background-color: rgba(15, 15, 15, 1);
  border-radius: 16px;
  padding: 10px;
}
.header_profile_details {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15px;
}
.district {
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  padding: 4px 8px;
  gap: 4px;
}
.district p {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.1px;
}
.profile_details_text {
  margin-top: 10px;
  font-size: var(--font-size-min-m);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}
hr {
  border: none; /* Убираем стандартную границу */
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px 0;
}

.profile_details_preferences_block {
  display: flex;
}
.profile_details_preferences_block div {
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  margin-right: 4px;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  padding: 4px 8px;
}
.profile_details_proposal {
  margin-top: 10px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.profile_details_profile_info{
margin: 20px 0;
}


